In [34]:
import pandas as pd
import numpy as np

In [35]:
#inputpd = pd.read_csv("List_Example.csv")
data=[["T001","F;A;E;G"],["T002","B"],["T003","F"],["T004","G;C"],["T005","C;D"],["T006","F;B;D"],["T007","A"],
      ["T008","G;A"],["T009","D;G;A"],["T010","F;G"],["T011","G;C"],["T012","F;C;A"],["T013","D"],["T014","F;C"],
      ["T015","F"],["T016","E"],["T017","D;F"],["T018","A"],["T019","F"],["T020","A;F;D"],["T021","E"],
      ["T022","C;F;F"],["T023","C"],["T024","D"],["T025","A"],["T026","G"],["T027","F"],["T028","C"],
      ["T029","G"],["T030","B"],["T031","F"],["T032","B;G;D"],["T033","E;G"],["T034","E"],["T035","D"],
      ["T036","D;C"],["T037","B"],["T038","D"],["T039","D;C"],["T040","C"]]
inputpd=pd.DataFrame(data,columns=['TID','TType'])

In [36]:
datType=inputpd["TType"]
datType2=datType.str.split(";",-1,False)

In [37]:
alist=[a for row in datType2 for a in row]
nplist=np.array(alist)

In [38]:
uni,ct=np.unique(nplist,return_counts=True)
dictype=dict(zip(uni,ct))

In [39]:
def getCts(types):
    olst=types.split(";")
    allv=list()
    for o in olst:
        allv.append(dictype[o])
    s = "".join(str(allv))
    return s.replace(",",";").replace("[","").replace("]","")
    #rslt=np.array(allv)
    #return np.unique(rslt)
def getGroups(cts):
    alst=cts.split(";")
    allv=list()
    for ct in alst:
        if int(ct)<=5: 
            allv.append("Group-A (01-05)")
        else:
            if int(ct)>10:
                allv.append("Group-C (10+)")
            else:
                allv.append("Group-B (06-10)")
    rslt=np.array(allv)
    rslt=np.unique(rslt)
    s = ",".join(rslt)
    return s.replace(",",";").replace("[","").replace("]","")

In [40]:
inputpd["TypeCts"]=[getCts(row) for row in inputpd["TType"]]
inputpd["TypeGroup"]=[getGroups(row) for row in inputpd["TypeCts"]]
inputpd

     TID    TType       TypeCts                                      TypeGroup
0   T001  F;A;E;G  14; 8; 5; 10  Group-A (01-05);Group-B (06-10);Group-C (10+)
1   T002        B             5                                Group-A (01-05)
2   T003        F            14                                  Group-C (10+)
3   T004      G;C        10; 11                  Group-B (06-10);Group-C (10+)
4   T005      C;D        11; 12                                  Group-C (10+)
5   T006    F;B;D     14; 5; 12                  Group-A (01-05);Group-C (10+)
6   T007        A             8                                Group-B (06-10)
7   T008      G;A         10; 8                                Group-B (06-10)
8   T009    D;G;A     12; 10; 8                  Group-B (06-10);Group-C (10+)
9   T010      F;G        14; 10                  Group-B (06-10);Group-C (10+)
10  T011      G;C        10; 11                  Group-B (06-10);Group-C (10+)
11  T012    F;C;A     14; 11; 8                  Group-B (06-10);Group-C (10+)
12  T013        D            12                                  Group-C (10+)
13  T014      F;C        14; 11                                  Group-C (10+)
14  T015        F            14                                  Group-C (10+)
15  T016        E             5                                Group-A (01-05)
16  T017      D;F        12; 14                                  Group-C (10+)
17  T018        A             8                                Group-B (06-10)
18  T019        F            14                                  Group-C (10+)
19  T020    A;F;D     8; 14; 12                  Group-B (06-10);Group-C (10+)
20  T021        E             5                                Group-A (01-05)
21  T022    C;F;F    11; 14; 14                                  Group-C (10+)
22  T023        C            11                                  Group-C (10+)
23  T024        D            12                                  Group-C (10+)
24  T025        A             8                                Group-B (06-10)
25  T026        G            10                                Group-B (06-10)
26  T027        F            14                                  Group-C (10+)
27  T028        C            11                                  Group-C (10+)
28  T029        G            10                                Group-B (06-10)
29  T030        B             5                                Group-A (01-05)
30  T031        F            14                                  Group-C (10+)
31  T032    B;G;D     5; 10; 12  Group-A (01-05);Group-B (06-10);Group-C (10+)
32  T033      E;G         5; 10                Group-A (01-05);Group-B (06-10)
33  T034        E             5                                Group-A (01-05)
34  T035        D            12                                  Group-C (10+)
35  T036      D;C        12; 11                                  Group-C (10+)
36  T037        B             5                                Group-A (01-05)
37  T038        D            12                                  Group-C (10+)
38  T039      D;C        12; 11                                  Group-C (10+)
39  T040        C            11                                  Group-C (10+)

In [41]:
# inputpd.to_csv("List_Example_Group.csv")